<div class="container">
    <h1>Email Verification</h1>
    <p>Thank you for registering! A verification link has been sent to your email address.</p>
    <p>Please check your inbox (and spam folder) and click the link to verify your email.</p>
    <p>After verifying, you will be able to log in and access your account.</p>
    <div class="actions">
        <a href="/" class="button">Go to Homepage</a>
        <a href="/resend_verification" class="button">Resend Verification Email</a>
    </div>
</div>